{% extends 'LitReview/main.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Sign up now</p>
                <a href="{% url 'signup' %}" class="button">S'inscrire</a>
            </div>
            <div class="col">
                <p>Log in</p>
                <form method="post">
                    {% csrf_token %}
                    <p>Username:</p>
                    <input type="text" id="username" name="username" required size="40">
                    <br/>
                    <p>Password</p>
                    <p><input type="password" id="password" name="password" size="40" required></p>
                    <button type="submit" class="button">Log in</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
