{% extends 'LitReview/main.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Edit a request for a review</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        {% if form1.instance.image %}
        <div class="edit-post-image">
          <img src="{{form.instance.image.url}}">
        </div>
        {% endif %}
        <input type="submit">
      </form>
    </div>
  </div>
</div>
{% endblock %}