{% extends 'LitReview/main.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Edit review</h2>
      <div class="parent">
        <div class="left">
          <p>{{ticket.user}}</p>
          <p>{{ticket.time_created}}</p>
          <p>{{ticket.title}}</p>
          <p>{{ticket.description}}</p>
          <img src="{{ticket.image.url}}">
        </div>
        <div class="right">
          <form method="post">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <input type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}