{% extends 'LitReview/main.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary btn-lg">Demander une critique</button>
            <button type="button" class="btn btn-secondary btn-lg">Créer une critique</button>
            <div class="critique">
              <div class="critique-body">
                  <h6 class="post-nature">Vous avez publié une critique</h6>
                  <h5 class="rating">Véritable révolutionnaire &#9733;&#9733;&#9733;&#9733;&#9733;</h5>
                  <p class="critique-text">Une excellente lecture et je vous recommande vivement !</p>
                    <div class="nested-body">
                        <h6 class="ticket-name">Ticket - jean8597</h6>
                        <h6 class="title-of-piece">The Origin of Species - Charles Darwin</h6>
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}