{% extends 'LitReview/main.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <a href="{% url 'create_ticket' %}" class="button">Ask for a review</a>
            <a href="" class="button">Create a review</a>
            <div class="critique">
              <div class="critique-body">
                  {% for review in list_reviews %}
                      <p>{{review.title}}</p>
                      <p>{{review.time_created}}</p>
                      <p>{{review.user.username}}</p>
                      <p>{{review.description}}</p>
                      <img src="{{review.image.url}}">
                  {% endfor %}
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}