{% extends 'LitReview/main.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Subscriptions</h2>
      <br>
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      <br>
      <form method="post">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        <input type="submit">
      </form>
      <hr>
      <h5>Following:</h5>
      <div>
        {% for user in following %}
        <p>{{ user.username }}</p>
        <a href="{% url 'delete_subscription' user.pk %}" class="button">Delete</a>
        {% endfor %}
      </div>
      <hr>
      <h5>Followed by:</h5>
      <div>
        {% for user in followed_by %}
        <p>{{ user.username }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}